@model QLBH.Models.Product

@{
    ViewBag.Title = "Quản lý sản phẩm";
    ViewBag.CardHeader = "Thêm sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@ViewBag.CardHeader</h3>
                </div>
                @using (Html.BeginForm("saveData", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                <div class="box-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Product_name, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Product_name, new { htmlAttributes = new { @class = "form-control", @name = "product_name", @type = "text" } })
                            @Html.ValidationMessageFor(model => model.Product_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Category_name, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.DropDownList("Category_id", ViewData["cats"] as List<SelectListItem>
                                , new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Category_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Provider_name, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.DropDownList("Provider_id", ViewData["providers"] as List<SelectListItem>
                                , new { @class = "form-control"})
                                @Html.ValidationMessageFor(model => model.Provider_name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Product_image, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Product_image, new { htmlAttributes = new { @class = "form-control", @type = "file", @name = "file_img" } })
                            @Html.ValidationMessageFor(model => model.Product_image, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Product_price, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Product_price, new { htmlAttributes = new { @class = "form-control", @name = "price" } })
                            @Html.ValidationMessageFor(model => model.Product_price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantities, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Quantities, new { htmlAttributes = new { @class = "form-control", @name = "quantities" } })
                            @Html.ValidationMessageFor(model => model.Quantities, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Product_description, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Product_description, new { htmlAttributes = new { @class = "form-control", @name = "product_desc" } })
                            @Html.ValidationMessageFor(model => model.Product_description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-success">Lưu</button>
                    </div>
                }
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                <a href="@Url.Action("Index", "Products")" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Quay lại trang trước</a>
            </p>
        </div>
    </div>
</section>
