@model IEnumerable<QLBH.Models.Product>

@{
    ViewBag.Title = "Quản lý sản phâm";
    ViewBag.CardHeader = "Danh sách sản phâm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <p>
        <a href="@Url.Action("Create", "Products")" class="btn btn-primary"><i class="fa fa-plus"></i>  Tạo mới</a>
    </p>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@ViewBag.CardHeader</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @if (@ViewBag.Noti != null && @ViewBag.Noti.Show == true)
                    {
                        <div class="alert alert-@ViewBag.Noti.Type alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-ban"></i> Notice!</h4>
                            @ViewBag.Noti.Message
                        </div>
                    }
                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Product_id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Category_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Provider_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product_image)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product_price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantities)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product_description)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Provider_name)
                                </td>
                                <td>
                                    <center>
                                        <img src="@Html.DisplayFor(modelItem => item.Product_image)" height="100px" />
                                    </center>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product_price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantities)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product_description)
                                </td>
                                <td width="150px">
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.Product_id }) |
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Product_id }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.Product_id })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">

                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
