@model IEnumerable<QLBH.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!-- /.content -->
<!-- /.content -->
<div class="row">

    <div class="col-lg-12">

      

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <a href="@Url.Action("ProductDetails", "Home", new { id = item.Product_id })"><img class="card-img-top" src="@Html.DisplayFor(modelItem => item.Product_image)" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="@Url.Action("ProductDetails", "Home", new { id = item.Product_id })">@Html.DisplayFor(modelItem =>  item.Product_name)</a>
                            </h4>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Product_description)</p>
                        </div>
                        <div class="card-footer">
                            @*<div style="float: right;">
                                <a href="http://www.jquery2dotnet.com" class="btn btn-success"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
                            </div>*@
                        </div>
                    </div>
                </div>
            }


        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

</div>
