@model QLBH.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-md-6">
            @if (@ViewBag.Noti != null && @ViewBag.Noti.Show == true)
            {
                <div class="alert alert-@ViewBag.Noti.Type alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Notice!</h4>
                    @ViewBag.Noti.Message
                </div>
            }
            @using (Html.BeginForm("doLogin", "Securities", new { @role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="control-label col-md-4">Tài khoản</label>
                    <div class="col-md-10">
                        <input class="form-control" name="Username" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Mật khẩu</label>
                    <div class="col-md-10">
                        <input class="form-control" name="Password" type="password" />
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Đăng nhập</button>
                </div>
            }
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <div class="row">
        @*<div class="col-md-6">
                <p>
                    <a href="@Url.Action("Index", "Customers")" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Quay lại trang trước</a>
                </p>
            </div>*@
    </div>
</section>

