@model QLBH.Models.User

@{
    ViewBag.Title = "Quản lý người dùng";
    ViewBag.CardHeader = "Chi tiết thông tin người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@ViewBag.CardHeader</h3>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">

                        <dt>
                            Tài khoản
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Username)
                        </dd>

                        <dt>
                            Họ tên
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Fullname)
                        </dd>

                        <dt>
                            Email
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                    </dl>
                </div>
                <div class="box-footer">
                    <a href="@Url.Action("Edit", "Users", new { id = Model.User_id })" class="btn btn-warning"><i class="fa fa-edit"></i> Edit</a>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                <a href="@Url.Action("Index", "Users")" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Quay lại trang trước</a>
            </p>
        </div>
    </div>
</section>
